python-telegram-bot==20.3
python-dotenv
google-generativeai
langchain
langchain-community
chromadb
sentence-transformers
huggingface-hub
torch
asyncpg
apscheduler
pypdf
numpy=1.26.4
langchain-huggingface
# The following line is commented out because it is not compatible with the current version of langchain